<!DOCTYPE web-app PUBLIC  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>comenzarJuego</servlet-name>
		<servlet-class>com.ipartek.ahorcado.servlets.InicioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>comprobarLetra</servlet-name>
		<servlet-class>com.ipartek.ahorcado.servlets.ComprobarLetra</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>comenzarJuego</servlet-name>
		<url-pattern>/comenzarJuego</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>comprobarLetra</servlet-name>
		<url-pattern>/comprobarLetra</url-pattern>
	</servlet-mapping>
	<!-- servlet-mapping>
		<servlet-name>enviar</servlet-name>
		<url-pattern>/enviar</url-pattern>
	</servlet-mapping> -->
	<!-- servlet-mapping>
		<servlet-name>ComprobarLetra</servlet-name>
		<url-pattern>/ComprobarLetra</url-pattern>
	</servlet-mapping -->
</web-app>
